html {
  font-size: max(20pt, 2vw);
}

:any-link {
  text-decoration: dotted underline calc(1ex/3);
}

:focus {
  outline-style: dotted;
  outline-width: thick;
  outline-color: currentColor;
}

.delay:target ~ .relay,
.delay:not(:target) {
  display: none;
}

body {
  display: flex;
  flex-flow: column-reverse;
  margin: 0;
}

main {
  display: flex;
  flex-flow: column;
  margin: 0;
}

output {
  font-size: 3rem;
  display: flex;
  flex-flow: column-reverse;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

footer {
  box-sizing: border-box;
  padding: 1rem;
  font-family: monospace;
  align-self: center;
  margin-block-start: -1em;
  margin-inline-start: auto;
  writing-mode: vertical-lr;
}

footer :any-link {
  text-decoration-line: overline;
}
