.rose {
  transition: color 36ms;
  background-color: #bae;
  color: #111;
  accent-color: #628;
}

mark.rose {
  background-color: transparent;
}

.rose ::selection {
  background-color: midnightblue;
  color: gainsboro;
}

.rose :any-link {
  color: #628;
  outline-color: #628;
}

.rose :any-link:focus {
  color: #111;
  outline-color: #111;
}
